/* your beautiful css styling goes here! */

svg{
  background-color: NAVAJOWHITE;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.spin
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 50%;
}


/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

